.list_of_packages{
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
	justify-content: center;
}
.package{
	display: flex	;
	width: 150px;
	height: 120px;
	border-radius: 20px;
	border: solid;
	flex-direction: column;
	transition: all .5s ease;
}
.package:hover .pack_head{
	background-color: aqua;
}
.package:hover{
	transform: scale(1.05);
}
.highlighted .pack_head{
	background-color: pink;
}
.pack_head{
	display: flex;
	justify-content: center;
	border-bottom: solid;
	// margin-top: 4px;
	margin-bottom: 4px;
	padding-top: 4px;
	border-radius: 18px 18px 0 0;
}
.pack_data{
	margin-left: 20px;
	margin-top: 10px;
}
.icon-download{
	margin-left: 5px;
	height: 16px;
}

.tools{
	flex-direction: row;
	display: flex;
	justify-content: center;
	gap: 5px;
}
.reload-btn{
	width: 20px;
	height: 20px;
	border: solid 1.5px grey;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
