<div class="tools">
  <div class="search-block">
    <input 
      type="text" 
      [(ngModel)]="searchTerm"
      (input)="searchPackages()"
      placeholder="Поиск по ID пакета..."
      class="search-input"
    >
  </div>
  <div class="reload-btn" (click)="reloadData()">
    <ng-icon class="icon-reload" name="bootstrapArrowRepeat"/>
  </div>
</div>
@if (isLoading) {
  <div>Загрузка данных...</div>
}

@if (errorMessage) {
  <div class="error">
    {{ errorMessage }}
  </div>
}

@if (!isLoading && !errorMessage) {
  <ul class="list_of_packages">
    @for (pkg of filteredPackages; track pkg.id) {
      <li class="package"
      [class.highlighted]="isHighlighted(pkg.id)"
      (mouseenter)="onMouseEnter(pkg.id)"
      (mouseleave)="onMouseLeave()">
        <div class="pack_head" [innerHTML]="highlightPackageName(pkg.id)"></div>
        <div class="pack_data">
          {{ pkg.weeklyDownloads }} 
          <ng-icon class="icon-download" name="bootstrapDownload"/>
        </div>
        <div class="pack_data">{{ pkg.dependencyCount }}</div>
      </li>
    }
    @empty {
      <p>Ничего не найдено</p>
    }
  </ul>
}